<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    {% block head %}
      <title>{% block title %}{% endblock %} - Steph and Frank's Wedding</title>
    {% endblock %}
  </head>
  <body>
    {% include "partials/nav.html" %}

    <div clas="full-image">
      <img src="images/header.jpg" alt="Frank and Steph in St. Petersburg, FL" />
    </div>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <div class="footer">
      <div class="container">
        <p>Made with love in the year 2014.</p>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
</html>